body {
    background: rgba(199, 199, 187,.75);
  }
  
  #headerbox {
    width: 1349px;
    height: 191px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: -300px;
    margin-left: 600px;
    background: rgba(212, 200, 190, .8); 
  }
  
  #header {
    font-size: 2em;
    margin-top: -150px;
    margin-bottom: -900px;
    margin-right: 25px;
    margin-left: 400px;
    font-family: 'Playfair Display', serif;
    text-align: right;
  }
  
  #subhead {
    font-size: .85em;
    margin-top: -25px;
    font-family: 'Playfair Display', serif;
  }
  
  #navbar {
    position: absolute;
    width: 345px;
    height: 592px;
    left: 75px;
    top: 177px;
    background: rgba(127, 134, 123, .6);
  }
  
  #title {
    text-align: center;
    left: 65px;
    top: 190px;
    position: absolute;
    display: block;
  }
  
  #title h3 {
    color: #C7C7BB;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
  }
  
  #title h4 {
    color: #D4C8BE;
    font-style: italic;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
  }
  
  img {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 70px;
    top: 45px;
    border-radius: 50%;
  }
  
  a {
    text-decoration: none;
    color: #C7C7BB;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    padding: 10px;
  }
  
  #navlinks {
    font-family: 'Manrope', sans-serif;
    position: absolute;
    left: 67px;
    top: 335px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  #introbox {
    position: absolute;
    width: 1449px;
    height: 515px;
    left: 456px;
    top: 428px;
    background: rgba(212, 200, 190, 0.5);
  }
  
  #aboutme {
    position: absolute;
    left: 480px;
    top: 370px;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
  }