body {
    background: rgba(199, 199, 187,.75);
}

#headerbar { 
    position: absolute;
    background: rgba(212, 200, 190, 0.5);
    width: 1400px;
    height: 150px;
    left: 50px;
    top: 250px;
}

#header h1 {
    font-family: 'Playfair Display', serif;
    text-align: center; 
    top: 50px;
}