body {
    background: rgba(199, 199, 187,.75);
}

#headerbar { 
    background: rgba(212, 200, 190, .5);
    width: 1200px;
    height: 150px;
    left: 150px;
    right: -20px;
    top: 150px;
    z-index: 0;
}

#header h1 {
    font-family: 'Playfair Display', serif;
    text-align: center; 
    margin-top: 150px;
    color: rgb(13, 15, 16);
    z-index: 1;
}

#navbar {
    position: absolute;
    width: 345px;
    height: 592px;
    left: 75px;
    top: 177px;
    background: rgba(127, 134, 123, .6);
  }

  img {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 70px;
    top: 45px;
    border-radius: 50%;
  }
  
  a {
    text-decoration: none;
    color: #C7C7BB;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    padding: 10px;
  }
  
  #navlinks {
    font-family: 'Manrope', sans-serif;
    position: absolute;
    left: 67px;
    top: 335px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }