body {
    background: rgba(199, 199, 187,.75);
}

#headerbar { 
    position: absolute;
    background: rgba(212, 200, 190, 0.5);
    width: 1400px;
    height: 300px;
    left: 150px;
    top: 250px;
}